div.App {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 256px 1fr 32px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  background-color: #ddd;
  width: 80vw;
  height: 60vh;
  border-radius: 4px;
}
